.container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 1.5em;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.btn {
  width: 90%;
  height: 4em;
  background-color: #fbba00;
  border-radius: 10px;
  border: none;
  margin-bottom: 1em;
  cursor: pointer;
}

p {
  margin: 0;
}
h2 {
  margin: 0;
}
