.input {
  width: 100%;
  height: 3em;
  border-radius: 20px;
  padding: 1.5em;
  box-sizing: border-box;
  border: 2px solid #fbba00;
  font-size: 1em;
  margin-bottom: 1.5em;
}
.telephoneSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.description {
  margin-bottom: 2em;
  text-align: center;
  color: gray;
}
.title {
  margin: 0;
  margin-bottom: 1.5em;
}
.btn {
  width: 90%;
  height: 4em;
  background-color: #fbba00;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 2em;
}
.warnText {
  color: red;
  font-weight: 600;
}
.loading {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid lightgray;
  border-top: 2px solid #fbba00;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.activated {
  cursor: pointer;
  background-color: #fbba00;
  color: black;
}
.unactivated {
  cursor: initial;
  background: none;
  border: 1px black solid;
  color: lightgray;
}
